<div class="side-bar bg-light h-100">
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="/" style="background-color: #EB6440;" class="nav-link active" aria-current="page">
          タスク一覧
        </a>
      </li>
      <li class="nav-item">
        <a href="/post" class="nav-link link-dark">
          タスク投稿
        </a>
      </li>
      <li>
        <a href="../es_experience/posts.php" class="nav-link link-dark">
          ES体験記
        </a>
      </li>
      <li>
        <a href="../intern_experience/post/post_form.php" class="nav-link link-dark">
          インターンシップ体験記を投稿
        </a>
      </li>
      <li>
        <a href="../es_experience/post/post_form.php" class="nav-link link-dark">
          ES体験記を投稿
        </a>
      </li>
    </ul>
  </div>
</div>
